/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*.....reset-start.....*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

img{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*.....reset-end.....*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

.light-section{
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-title-container{
    padding-bottom: 103px;
}

.section-title{
    margin: 0;
    color: #FFFFFF;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Forum-Regular";
}

.section-title-dark{
    margin: 0;
    color: #9D8665;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Forum-Regular";
}

.underline-title{
    position: relative;
}

.underline-title::after{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

/*.....HEADER.....*/

.header{
    height: 150px;
    background-color: #030303;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 199px;
    height: 33px;
} 

.image-logo{
    width: 49px;
    height: 26px;
    background-color: #fff;
    -webkit-mask-image: url(assets/svg/logo.svg);
    -webkit-mask-size: cover;
    transition: 1s;
}
.image-logo:hover{
    background-color:#9d8665;
}

.text-logo{
    color: #FFFFFF;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Forum-Regular";
}

.header-nav{
    width: 775px;
    height: 26px;
    color: #FFFFFF;
}

.header-ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-li{
    font-family: "Roboto-Thin";
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

/*.....HEADER-END.....*/

/*.....MAIN.....*/

/*.....SECTION-WELCOME.....*/

.welcome{
    height: 810px;
    background-color: #030303;
}

.welcome-container{
    position: relative;
    height: 810px;
}

.welcome-block{
    position: absolute;
    top: 150px;
    width: 598px;
    height: 388px;
}

.welcome-block-subtitle{
    margin: 0;
    margin-top: 25px;
    color:#FFFFFF;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: "Roboto-Light";
}

.welcome-block-button{
    display: inline-block;
    margin-top: 75px;
    padding: 0 64px;
    color: #FFFFFF;
    background-color: #710707;
    border-radius: 10px;
    font-size: 22px;
    line-height: 75px;
    letter-spacing: 2px;
    font-family: "Roboto-Light";
}

.welcome-slider{
    position: absolute;
    width: 1000px;
    height: 750px;
    right: 0;
}

.welcome-slider-pagination{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 600px;
    height: 120px;
}

/*.....SECTION-WELCOME-END.....*/

/*.....SECTION-VISITING.....*/

.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
}

.visiting-card{
    display: block;
}

.visiting-card-image{
    height: 285px;
    width: 440px;
    padding-bottom: 25px;
}

.visiting-card-title{
    font-size: 32px;
    color: #000000;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Forum-Regular";
    padding-bottom: 10px;
}

.visiting-card-underline{
    height: 2px;
    width: 300px;
    background-color: #710707;
}

.visiting-card-subtitle-one{
    font-size: 22px;
    color: #000000;
    font-family: "Roboto-Light";
    padding-top: 10px;
    padding-bottom: 10px;
}

.visiting-card-subtitle-two{
    font-size: 18px;
    color: #000000;
    font-family: "Roboto-Light";
}

/*.....SECTION-VISITING-END.....*/

/*.....SECTION-EXPLORE-START.....*/

.explore{
    background-color: #030303;
}

.explore-container{
    display: flex;
    gap: 0 60px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.explore-info{
    width: 660px;
}

.explore-picture{
    height: 700px;
    width: 720px;
    right: 0;
    bottom: 0;
}

.explore-subtitle{
    font-size: 22px;
    line-height: 38.5px;
    color: #FFFFFF;
    font-family: "Roboto-Light";
    padding-bottom: 25px;
}
.explore-subtitle:last-child{
    padding: 0;
}

.explore-subtitle span{
    color: #CAAA7D;
}

/*.....SECTION-EXPLORE-END.....*/

/*.....SECTION-VIDEO-START.....*/

.video-title-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.video-subtitle{
    right: 0;
    width: 720px;
    font-size: 22px;
    line-height: 38.5px;
    font-family: "Roboto-Light";
}

.video-player-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-container_player{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

#bigPlayButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67%);
}

.video-player-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    width: 1440px;
    background-color: #000000;
    margin-top: -4px;
}

.playPause{
    padding-left: 30px;
    width: 23px;
    height: 31px;
}

.progress {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
    height: 8px;
    width: 929px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.progress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #FFFFFF;
}

.progressVolume{
    background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
    height: 8px;
    width: 155px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.progressVolume::-webkit-slider-thumb{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #FFFFFF;
}

.fullWindow{
    padding-right: 30px;
}

.video-container-players{
    padding-top: 40px;
    display: flex;
    gap: 0 40px;
    padding-bottom: 40px;
}

.video-container_pagination{
    display: flex;
}

.video-slider-pagination{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.arrow-left{
    height: 10px;
    width: 12px;
}

.slider-circle{
    height: 12px;
    width: 12px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
}
.slider-circle.selected{
    background-color: #333333;
}

.arrow-right{
    height: 10px;
    width: 12px;
}

/*.....SECTION-VIDEO-END.....*/

/*.....SECTION-GALLERY-START.....*/

.gallery{
    background: #030303;
}

.gallery-container{
    padding-top: 75px;
}

.title-gallery{
    padding-bottom: 75px;
}

.picture-container{
    position: relative;
    height: 1960px;
    overflow-y: hidden;
}
.picture-inner-container{
    height: 3000px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 36px;
}

.image-galery{
    width: 456px;
}

.image-galery image{
    margin-top: 50px;
}

.galery-box-shadow{
    width: 1440px;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
}

/*.....SECTION-GALLERY-END.....*/

/*.....SECTION-TICKETS-START.....*/

.tickets-container{
    padding-bottom: 75px;
}

.tickets-form-container{
    display: flex;
}

.tickets-form{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    width: 100%;
    right: 0;
}

.tickets-options{
    display: flex;
    justify-content: space-between;
    padding-bottom: 52px;
}

.ticket-amount{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.ticket-title{
    align-self:flex-end;
    font-size: 28px;
    color: #000000;
    font-family: "Roboto-Bold";
    margin-bottom: 50px;
}

.label-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto-Light";
    user-select: none;
}

/* Hide the browser's default radio button */
.label-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark{
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark{
    transition: .5s;
    background-color: #ccc;
}

/* When the radio button is checked, add a black background */
.label-container input:checked ~ .checkmark{
    background-color: #000000;
}

.ticket-form-amount-item{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.amount-item-title{
    font-size: 22px;
    font-family: "Roboto-Light";
    margin-bottom: 15px;
}

.ticket-form-amount-item input[type="number"]{
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 3px solid #000000;
}

/* Delete arrows from the input[type='number'] */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.button-minus{
    position: absolute;
    left: 14px;
    line-height: 5px;
    top: 50%;
    transform: translateY(-120%);
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    font-size: 32px;
    color: #000000;
    font-family: "Roboto-Regular";
}

.button-plus{
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 32px;
    color: #000000;
    font-family: "Roboto-Regular";
}

.total-amount{
    margin-top: 50px;
    display: flex;
}

.ticket-amount-title{
    font-size: 28px;
    letter-spacing: 1.65px;
    color: #000000;
    font-family: "Roboto-Bold";
}

.tickets-Button{
    align-self:flex-end;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: "Roboto-Light";
    height: 50px;
    width: 175px;
    background-color: #000000;
}

.tickets-parallax{
    height: 400px;
    width: 100%;
    background: url(./assets/img/Tickets_parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*.....SECTION-TICKETS-END.....*/

/*.....SECTION-CONTACTS-START.....*/

.contacts{
    padding-top: 0px;
}

.contacts-title{
    margin-bottom: 75px;
}

.contacts-address-container{
    display: flex;
    justify-content: space-between;
}

.contacts-address{
    width: 282px;
}

.contacts-address-title{
    font-size: 28px;
    color: #000000;
    font-family: "Roboto-Medium";   
    margin-bottom: 50px;
}

.contacts-address-subtitle{
    font-size: 22px;
    color: #000000;
    font-family: "Roboto-Light";   
    margin-bottom: 25px;
}

.contacts-map{
    height: 620px;
    width: 960px;
}

/*.....SECTION-CONTACTS-END.....*/

/*.....SECTION-FOOTER-START.....*/

.footer{
    background: #030303;
    padding-top: 75px;
}

.footer-container{
    height: 140px;
    display: flex;
    justify-content: space-between;
}

.footer-left-side{
    display: flex;
}

.footer-logo{
    display: flex;
    height: 50px;
    align-items: center;
    margin-right: 145px;
}

.footer-image-logo{
    width: 49px;
    height: 26px;
    background-color: #fff;
    -webkit-mask-image: url(assets/svg/footer-logo.svg);
    -webkit-mask-size: cover;
    transition: 1s;
}
.footer-image-logo:hover{
    background-color:#9d8665;
}

.text-logo{
    margin-top: 3px;
}

.footer-menu{
    display: flex;
    gap: 0 150px;
    margin-top: 12px;
}

.footer-nav{
    min-width: 107px;
}

.footer-ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.footer-li{
    font-family: "Roboto-Thin";
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.footer-li:last-child{
    margin-bottom: 0;
}

.footer-right-side{
    display: flex;
    align-items: flex-end;
}

.footer-follow-us{
    height: 48px;
    width: 340px;
}

.social-follow{
    display: flex;
    gap: 0 25px;
}

.social-follow-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: #666666 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
}

.footer-line{
    height: 3px;
    width: 100%;
    background: #666666;
    margin: 50px 0;
}

.footer-container-second{
    padding-bottom: 50px;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.footer-main-item{
    font-family: "Roboto-Thin";
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

/*.....SECTION-FOOTER-END.....*/

/*.....MAIN-END.....*/





@font-face {
    font-family: "Forum-Regular";
    src: url(assets/fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(assets/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(assets/fonts/Roboto-Medium.ttf);
}
