/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*.....reset-start.....*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

img{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*.....reset-end.....*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

.light-section{
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-title-container{
    padding-bottom: 103px;
}

.section-title{
    margin: 0;
    color: #FFFFFF;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Forum-Regular";
}

.section-title-dark{
    margin: 0;
    color: #9D8665;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Forum-Regular";
}

.underline-title{
    position: relative;
}

.underline-title::after{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

/*.....HEADER.....*/

.header{
    height: 150px;
    background-color: #030303;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 199px;
    height: 33px;
}
.logo:hover .image-logo{
    background-color:#9d8665;
}
.logo:hover .text-logo{
    color:#9d8665;
}

.image-logo{
    width: 49px;
    height: 26px;
    background-color: #fff;
    -webkit-mask-image: url(assets/svg/logo.svg);
    -webkit-mask-size: cover;
    transition: 1s;
}

.text-logo{
    color: #FFFFFF;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Forum-Regular";
    transition: 1s;
}

.header-nav{
    width: 775px;
    height: 26px;
    color: #FFFFFF;
}

.header-ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-li{
    font-family: "Roboto-Thin";
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

.header-li a{
    color: #FFFFFF;
    transition: 1s;
}
.header-li a:hover{
    color: #9D8665;
}
.header-li a:active{
    color: #7E6C51;
}

.burger-menu{
    display: none;
    position: relative;
    width: 35px;
    height: 18px;
}

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}

.menu-icon::before{
    content: '';
    top: -8px;
}

.menu-icon::after{
    content: '';
    top: 8px;
}

.menu-icon.active{
    transform: rotate(45deg);
}

.menu-icon.active::before{
    top: 0;
    transform: rotate(0);
}

.menu-icon.active::after{
    top: 0;
    transform: rotate(90deg);
}


/*.....HEADER-END.....*/

/*.....MAIN.....*/

/*.....SECTION-WELCOME.....*/

.welcome{
    height: 810px;
    background-color: #030303;
}

.welcome-container{
    position: relative;
    height: 100%;
}

.welcome-pop-up-menu{
    z-index: 100;
    position: absolute;
    height: 585px;
    width: 277px;
    background-color: #030303;
    transition: 1s;
    left: -100%;
    opacity: 0;
    visibility: hidden;
}
.welcome-pop-up-menu.active{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

.welcome-block{
    z-index: 10;
    position: absolute;
    top: 150px;
    width: 598px;
    height: 388px;
}
.welcome-block.hide{
    display: none;
}

.welcome-block-subtitle{
    margin: 0;
    margin-top: 25px;
    color:#FFFFFF;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: "Roboto-Light";
}

.welcome-block-button{
    display: inline-block;
    margin-top: 75px;
    padding: 0 64px;
    color: #FFFFFF;
    background-color: #710707;
    border-radius: 10px;
    font-size: 22px;
    line-height: 75px;
    letter-spacing: 2px;
    font-family: "Roboto-Light";
    transition: 1s;
}
.welcome-block-button:hover{
    background-color: #9D8665;
}

.welcome-slider{
    position: absolute;
    right: 0;
    height: 810px;
    width: 1000px;
}

.welcome-slider-container{
    position: relative;
    height: 750px;
    width: 100%;
}

.welcome-slider-shadow{
    position: absolute;
    z-index: 1;
}

.welcome-item-container{
    position: relative;
    animation: 0.5s ease-in-out;
    overflow: hidden;
}

.welcome-slider-pagination{
    height: 120px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 10;
}

.slider-container{
    height: 40px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-page-number{
    display: flex;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 40px;
    gap: 0 10px;
    font-family: "Roboto-Regular";
    user-select: none;
}

.slider-squares{
    display: flex;
    height: 16px;
    width: 180px;
    justify-content: space-between;
    box-sizing: border-box;
}

.slider-square{
    height: 16px;
    width: 16px;
    background-color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    transition: 1s;
}
.slider-square:hover{
    background-color: #9D8665;
}
.slider-square.active{
    background-color: #D2B183;
}

.slider-arrows{
    height: 8px;
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.slider-arrow-left{
    height: 8px;
    width: 30px;
    background-color: #fff;
    -webkit-mask-image: url(assets/svg/slider-left-arrow.svg);
    -webkit-mask-size: cover;
    transition: 1s;
    cursor: pointer;
    transition: 1s;
}
.slider-arrow-left:hover{
    background-color: #9D8665;
}

.slider-arrow-right{
    height: 8px;
    width: 30px;
    background-color: #fff;
    -webkit-mask-image: url(assets/svg/slider-right-arrow.svg);
    -webkit-mask-size: cover;
    transition: 1s;
    cursor: pointer;
    transition: 1s;
}
.slider-arrow-right:hover{
    background-color: #9D8665;
}

/*.....slider animation start.....*/

.item{
    display: none;
    position: relative;
}

.item.active,
.next{
    display: block;
}

.next{
    position: absolute;
}

@keyframes left{
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right{
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.to-left{
    animation-name: left;
}

.to-right{
    animation-name: right;
    animation-direction: reverse;
}

.from-left{
    animation-name: left;
    animation-direction: reverse;
}

.from-right{
    animation-name: left;
}

/*.....slider animation end.....*/

/*.....SECTION-WELCOME-END.....*/



/*.....SECTION-VISITING.....*/

.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
}

.visiting-card{
    display: block;
    color: #000000;
    transition: 1s;
}
.visiting-card:hover{
    color: #9D8665;
}

.visiting-card-image{
    height: 285px;
    width: 440px;
    padding-bottom: 25px;
}

.visiting-card-title{
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Forum-Regular";
    padding-bottom: 10px;
}

.visiting-card-underline{
    height: 2px;
    width: 300px;
    background-color: #710707;
    transition: 1s;
}
.visiting-card:hover .visiting-card-underline{
    width: 100%;
}

.visiting-card-subtitle-one{
    font-size: 22px;
    font-family: "Roboto-Light";
    padding-top: 10px;
    padding-bottom: 10px;
}

.visiting-card-subtitle-two{
    font-size: 18px;
    font-family: "Roboto-Light";
}

/*.....SECTION-VISITING-END.....*/

/*.....SECTION-EXPLORE-START.....*/

.explore{
    background-color: #030303;
}

.explore-container{
    display: flex;
    gap: 0 60px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.explore-info{
    width: 660px;
}

.explore-picture{
    height: 700px;
    width: 720px;
    right: 0;
    bottom: 0;
}

.explore-subtitle{
    font-size: 22px;
    line-height: 38.5px;
    color: #FFFFFF;
    font-family: "Roboto-Light";
    padding-bottom: 25px;
}
.explore-subtitle:last-child{
    padding: 0;
}

.explore-subtitle span{
    color: #CAAA7D;
}

/*.....SECTION-EXPLORE-END.....*/

/*.....SECTION-VIDEO-START.....*/

.video-title-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.video-subtitle{
    right: 0;
    width: 720px;
    font-size: 22px;
    line-height: 38.5px;
    font-family: "Roboto-Light";
}

.video-player-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-container_player{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

#bigPlayButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67%);
}

.video-player-controls{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    background-color: #000000;
    margin-top: -4px;
}

.playPause{
    margin-left: 30px;
    width: 23px;
    height: 31px;
    background-color: #B3B3B3;
    -webkit-mask-image: url(assets/svg/playPause.svg);
    -webkit-mask-size: cover;
}
.playPause:hover{
    background-color: #989898;
    transition: 1s;
}

.progress {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
    height: 8px;
    width: 64.5%;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.progress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #FFFFFF;
}

.volume{
    height: 31px;
    width: 38px;
    background-color: #B3B3B3;
    -webkit-mask-image: url(assets/svg/volume.svg);
    -webkit-mask-size: cover;
}
.volume:hover{
    background-color: #989898;
    transition: 1s;
}

.progressVolume{
    background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
    height: 8px;
    width: 10.76%;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
.progressVolume::-webkit-slider-thumb{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #FFFFFF;
}

.fullWindow{
    height: 35px;
    width: 35px;
    margin-right: 30px;
    background-color: #B3B3B3;
    -webkit-mask-image: url(assets/svg/fullWindow.svg);
    -webkit-mask-size: cover;
}
.fullWindow:hover{
    background-color: #989898;
    transition: 1s;
}

.video-container-players{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}

.video-container_pagination{
    display: flex;
    justify-content: center;
}

.video-slider-pagination{
    display: flex;
    align-items: center;
}

.video-slider-pagination-circles{
    align-items: center;
}

.arrow-left{
    height: 10px;
    width: 12px;
}

.slider-circle{
    height: 12px;
    width: 12px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.slider-circle.selected{
    background-color: #333333;
}

.arrow-right{
    height: 10px;
    width: 12px;
}

/*.....SECTION-VIDEO-END.....*/

/*.....SECTION-GALLERY-START.....*/

.gallery{
    background: #030303;
}

.gallery-container{
    padding-top: 75px;
}

.title-gallery{
    padding-bottom: 75px;
}

.picture-container{
    position: relative;
    height: 1960px;
    overflow: hidden;
}
.picture-inner-container{
    height: 3000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 36px;
    row-gap: 24px;
    overflow: hidden;
}

.picture-inner-container img{
    width: 456px;
}

.galery-box-shadow{
    width: 1440px;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
}

/*.....SECTION-GALLERY-END.....*/

/*.....SECTION-TICKETS-START.....*/

.tickets-container{
    padding-bottom: 75px;
}

.tickets-form-container{
    display: flex;
}

.tickets-form-container img{
    height: 550px;
    width: 720px;
}

.tickets-form{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    width: 100%;
    right: 0;
}

.tickets-options{
    display: flex;
    justify-content: space-between;
    padding-bottom: 52px;
}

.ticket-amount{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.ticket-title{
    align-self:flex-end;
    font-size: 28px;
    color: #000000;
    font-family: "Roboto-Bold";
    margin-bottom: 25px;
}

.label-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto-Light";
    user-select: none;
}

/* Hide the browser's default radio button */
.label-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark{
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark{
    transition: .5s;
    background-color: #ccc;
}

/* When the radio button is checked, add a black background */
.label-container input:checked ~ .checkmark{
    background-color: #000000;
}

.ticket-form-amount-item{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.amount-item-title{
    font-size: 22px;
    font-family: "Roboto-Light";
    margin-bottom: 15px;
}

.ticket-form-amount-item input[type="number"]{
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 3px solid #000000;
}

/* Delete arrows from the input[type='number'] */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.button-minus{
    position: absolute;
    left: 14px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    font-size: 32px;
    color: #000000;
    font-family: "Roboto-Regular";
}

.button-plus{
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 32px;
    color: #000000;
    font-family: "Roboto-Regular";
}

.total-amount{
    margin-top: 50px;
    display: flex;
}

.ticket-amount-title{
    font-size: 28px;
    letter-spacing: 1.65px;
    color: #000000;
    font-family: "Roboto-Bold";
}

.tickets-Button{
    align-self:flex-end;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: "Roboto-Light";
    height: 50px;
    width: 175px;
    background-color: #000000;
    transition: 1s;
}
.tickets-Button:hover{
    color: #000000;
    background-color: #9D8665;
}

.tickets-Button a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
}

.tickets-parallax{
    height: 400px;
    width: 100%;
    background: url(./assets/img/Tickets_parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.wrapper-form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.wrapper-form:target{
    opacity: 1;
    visibility: visible;
}

.popUp{
    display: flex;
    position: fixed;
    height: 845px;
    width: 1440px;
    background-color: #FFFFFF;
}

.popUp-container{
    display: flex;
    justify-content: space-between;
    margin: 75px auto;
    height: 663px;
    width: 970px;
}

.popUp-close-button{
    display: flex;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.popUp-close-button-line{
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000000;
}
.popUp-close-button-line.left{
    transform: rotate(45deg);
}
.popUp-close-button-line.right{
    transform: rotate(-45deg);
}

.popUp-subcontainer-left{
    height: 100%;
    width: 400px;
}

.form-title-container{
    margin-bottom: 60px;
}

.form-logo{
    height: 41px;
    width: 85px;
    background-image: url(./assets/svg/form-logo.svg);
}

.form-title{
    line-height: 53px;
    font-size: 50px;
    color: #9D8665;
    font-family: "Forum-Regular";
    text-transform: uppercase;
    margin-bottom: 15px;
}

.form-subtitle{
    line-height: 21px;
    font-size: 18px;
    color: #710707;
    font-family: "Roboto-Regular";
    margin-bottom: 10px;
}

.form-divider{
    height: 3px;
    width: 100%;
    background: #740C11;
}

.popUp-subcontainer-right{
    height: 100%;
    width: 530px;
}

.form-input-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: #030303;
    margin-bottom: 20px;
}

.form{
    display: flex;
    height: 45px;
    width: 190px;
    box-sizing: border-box;
    border: #000 1px solid;
}

input{
    border: 0;
}
input::placeholder{
    color: #030303;
}

select{
    border: 0;
    appearance: none;
    -webkit-appearance: none;
}

.form input{
    width: 100%;
}

.form.big{
    width: 100%;
}

.form.big select{
    width: 100%;
}

.form-input-item{
    color: #030303;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    border: 0;
    margin-left: 15px;
}

.form-input-item.input-item-date{
    background: transparent url(./assets/svg/form-date.svg) no-repeat left 15px;
}

.form-input-item.input-item-time{
    background: transparent url(./assets/svg/form-time.svg) no-repeat left 15px;
}

.form-input-item.input-item-name{
    background: transparent url(./assets/svg/form-name.svg) no-repeat left 15px;
}

.form-input-item.input-item-email{
    background: transparent url(./assets/svg/form-email.svg) no-repeat left 17px;
}

.form-input-item.input-item-phone{
    background: transparent url(./assets/svg/form-phone.svg) no-repeat left 11px;
}

.form-input-item.input-item-type{
    background: transparent url(./assets/svg/form-type.svg) no-repeat left 14px;
}

.form-date-select{
    width: 32px;
}

.form-date-select-item{
    height: 17px;
    width: 17px;
    margin-top: 14px;
    margin-right: 15px;
    background: transparent url(./assets/svg/form-date-select.svg) no-repeat;
    cursor: pointer;
}

.form-entry-ticket-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 100%;
    box-sizing: border-box;
    border: #000000 1px solid;
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: #030303;
}

.form-entry-ticket{
    height: 110px;
    width: 370px;
}

.form-entry-title{
    line-height: 20px;
    font-size: 18px;
    color: #9D8665;
    font-family: "Forum-Regular";
    margin-bottom: 5px;
    user-select: none;
}

.form-entry-divider{
    height: 2px;
    width: 100%;
    background-color: #740C11;
    margin-bottom: 15px;
}

.form-entry-amount{
    height: 68px;
    width: 100%;
}

.form-entry-amount-title{
    user-select: none;
    line-height: 20px;
}

.form-amount{
    height: 25px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-amount.first{
    margin-bottom: 18px;
}

.form-amount-item{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 105px;
}

.form-amount-item input[type="number"]{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid #000000;
}

.form-amount-item button{
    height: 25px;
    width: 100%;
    background-color: #000000;
    line-height: 25px;
}

.form-button-minus{
    color: #FFFFFF;
}

.form-button-plus{
    color: #FFFFFF;
}

.popUp-subcontainer-right{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: #030303 1px solid;
}

.popUp-right-shell{
    height: 612px;
    width: 470px;
}

.form-overview-container{
    display: flex;
    justify-content: space-between;
}

.form-overview-info{
    margin-bottom: 22px;
}

.form-overview-title{
    line-height: 38px;
    font-size: 32px;
    color: #272727;
    font-family: "Roboto-Medium";
    margin-bottom: 2px;
}

.form-overview-subtitle{
    line-height: 26px;
    font-size: 22px;
    color: #740C11;
    font-family: "Roboto-Medium";
    margin-bottom: 10px;
}

.form-overview-photo{
    height: 120px;
    width: 150px;
    background-image: url(./assets/img/form_overview.jpg);
}

.form-overview-result{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 5px;
}

.form-overview-image{
    height: 15px;
    width: 15px;
}

.form-overview-image.calendar{
    background: url(./assets/svg/form-overview-calendar.svg);
}

.form-overview-image.time{
    background: url(./assets/svg/form-overview-time.svg);
}

.form-overview-image.type{
    background: url(./assets/svg/form-overview-type.svg);
}

.form-overiview-image-definition{
    line-height: 22px;
    font-size: 18px;
    color: #030303;
    font-family: "Roboto-Light";
}

.form-total-container{
    margin-bottom: 10px;
}

.form-total-line{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto-Regular";
    color: #030303;
    margin-bottom: 5px;
}
.form-total-line.last{
    margin-bottom: 9px;
}

.form-total-line-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.line-title-number-container{
    text-align: center;
    height: 20px;
    width: 32px;
    background: #030303;
    border-radius: 4px;
}

.line-title-number{
    font-size: 18px;
    color: #A4A4A3;
}

.line-title{
    font-size: 22px;
    line-height: 27px;
}

.form-total-line-price{
    font-size: 22px;
    line-height: 25px;
}

.form-total-divider{
    height: 2px;
    width: 100%;
    background-color: #740C11;
    margin-bottom: 10px;
}

.form-total-sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #030303;
    margin-bottom: 10px;
}

.form-total-sum-title{
    line-height: 38px;
    font-size: 32px;
    font-family: "Roboto-Regular"; 
}

.form-total-sum-number{
    line-height: 37px;
    font-size: 32px;
    font-family: "Roboto-Medium"; 
}

.form-card-container{
    position: relative;
    height: 241px;
    width: 100%;
    margin-bottom: 26px;
}

.form-card-front{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 211px;
    width: 360px;
    left: 0;
    top: 0;
    background-color: #BCBCBC;
    z-index: 1000;
}

.form-card-back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 211px;
    width: 360px;
    right: 0;
    bottom: 0;
    background-color: #939393;
}

.form-card-info-container{
    height: 181px;
    width: 320px;
}

.form-card-front-first{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.form-card-front-input{
    width: 215px;
}

.form-front-card-title{
    font-size: 12px;
    color: #161615;
    font-family: "Roboto-Regular"; 
    margin-bottom: 5px;
}

.form-cardnumber-front-input{
    height: 35px;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.form-cardnumber-front-input input{
    border: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.form-front-card-date{
    display: flex;
    gap: 15px;
}

.form-front-card-date input{
    border: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



.form-card-front-logo{
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.form-front-logo-visa{
    height: 16px;
    width: 55px;
    background: url(./assets/svg/form-card-visa.svg);
}

.form-front-logo-mastercard{
    height: 32px;
    width: 53px;
    background: url(./assets/svg/form-card-mastercard.svg);
}

.form-card-back-black-line{
    position: absolute;
    height: 45px;
    width: 100%;
    background-color: #161615;
    top: 25px;
}

.form-card-info-container.card-back{
    display: flex;
    justify-content: flex-end;
}

.form-card-back-rightside{
    height: 100%;
    width: 75px;
}

.form-card-back-cvc{
    margin: 0 9px;
    margin-top: 70px;
    font-size: 12px;
    color: #161615;
    font-family: "Roboto-Regular"; 
    margin-bottom: 5px;
}

.form-cardnumber-back-input{
    height: 35px;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 6px;
}

.form-cardnumber-back-input input{
    border: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.form-card-back-cvc-discription{
    margin: 0 10px;
    font-size: 10px;
    color: #161615;
    font-family: "Roboto-Regular"; 
}

.form-Button-container{
    display: flex;
    justify-content: flex-end;
}

.form-Button{
    font-size: 22px;
    color: #FFFFFF;
    font-family: "Roboto-Regular";
    height: 45px;
    width: 220px;
    background-color: #710707;
    transition: 1s;
}
.form-Button:hover{
    color: #000000;
    background-color: #9D8665;
}
.form-Button a{
    display: block;
    line-height: 45px;
    height: 100%;
    width: 100%;
}




/*.....SECTION-TICKETS-END.....*/

/*.....SECTION-CONTACTS-START.....*/

.contacts{
    padding-top: 0px;
}

.contacts-title{
    margin-bottom: 75px;
}

.contacts-address-container{
    display: flex;
    justify-content: space-between;
}

.contacts-address{
    width: 282px;
}

.contacts-address-title{
    font-size: 28px;
    color: #000000;
    font-family: "Roboto-Medium";   
    margin-bottom: 50px;
}

.contacts-address-subtitle{
    font-size: 22px;
    color: #000000;
    font-family: "Roboto-Light";   
    margin-bottom: 25px;
}

.contacts-address-subtitle:last-child{
    margin-bottom: 0;
}

.contacts-map img{
    height: 620px;
    width: 960px;
}

/*.....SECTION-CONTACTS-END.....*/

/*.....SECTION-FOOTER-START.....*/

.footer{
    background: #030303;
    padding-top: 75px;
}

.footer-container{
    height: 140px;
    display: flex;
    justify-content: space-between;
}

.footer-left-side{
    display: flex;
}

.footer-logo{
    display: flex;
    height: 50px;
    align-items: center;
    margin-right: 145px;
}

.footer-image-logo{
    width: 49px;
    height: 26px;
    background-color: #fff;
    -webkit-mask-image: url(assets/svg/footer-logo.svg);
    -webkit-mask-size: cover;
    transition: 1s;
}
.logo:hover .footer-image-logo{
    background-color:#9d8665;
}
.logo:hover .text-logo{
    color:#9d8665;
}

.text-logo{
    margin-top: 3px;
}

.footer-nav{
    height: 128px;
    width: 363px;
}

.footer-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 150px;
}

.footer-li{
    width: 106px;
    font-family: "Roboto-Thin";
    font-size: 22px;
    letter-spacing: 2px;
}

.footer-li a{
    color: #FFFFFF;
    transition: 1s;
}
.footer-li a:hover{
    color: #9D8665;
}

.footer-right-side{
    display: flex;
    align-items: flex-end;
}

.footer-follow-us{
    height: 48px;
    width: 340px;
}

.social-follow{
    display: flex;
    justify-content: space-between;
}

.social-follow-item{
    border: #666666 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
}

.social-follow-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    transition: 1s;
    cursor: pointer;
}
.social-follow-item a:hover .social-follow-item{
    border: #9D8665 1px solid;
}

.social-follow-item .youtube,
.instagram, .facebook,
.twitter, .pinterest{
    transition: 1s;
}

.social-follow-item:hover .youtube{
    background-color: #9D8665;
    
}
.social-follow-item:hover .instagram{
    background-color: #9D8665;
}
.social-follow-item:hover .facebook{
    background-color: #9D8665;
}
.social-follow-item:hover .twitter{
    background-color: #9D8665;
}
.social-follow-item:hover .pinterest{
    background-color: #9D8665;
}

.youtube{
    height: 16px;
    width: 23px;
    background-color: #FFFFFF;
    -webkit-mask-image: url(assets/svg/youtube.svg);
    -webkit-mask-size: cover;
}
.instagram{
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    -webkit-mask-image: url(assets/svg/instagram.svg);
    -webkit-mask-size: cover;
}
.facebook{
    height: 20px;
    width: 13px;
    background-color: #FFFFFF;
    -webkit-mask-image: url(assets/svg/facebook.svg);
    -webkit-mask-size: cover;
}
.twitter{
    height: 16px;
    width: 20px;
    background-color: #FFFFFF;
    -webkit-mask-image: url(assets/svg/twitter.svg);
    -webkit-mask-size: cover;
}
.pinterest{
    height: 24px;
    width: 24px;
    background-color: #FFFFFF;
    -webkit-mask-image: url(assets/svg/pinterest.svg);
    -webkit-mask-size: cover;
}

.footer-line{
    height: 3px;
    width: 100%;
    background: #666666;
    margin: 50px 0;
}

.footer-container-second{
    padding-bottom: 50px;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    height: 24px;
}

.footer-main-item{
    font-family: "Roboto-Thin";
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}

/*.....SECTION-FOOTER-END.....*/

/*.....MAIN-END.....*/


/*.....SLICK-SLIDER-START.....*/


/* Слайдер */
.slick-slider{
    min-width: 0; /* Если находится во flex или родитель flex */
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{
    height: 254px;
    width: 452px;
    margin-right: 42px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 20px;
    line-height: 100%;
}
/* Активная точка */
.slick-dots li.slick-active{

}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #999999;
    border-radius: 50%;
}

.slick-dots li.slick-active button{
    background-color: #333333;
}

.slider_item img{
    height: 100%;
    width: 100%;
}

.slick-slider-players{
    margin: 40px 0;
}



/*.....SLICK-SLIDER-END.....*/


@media (max-width: 1024px) {
    
    .container{
        margin: 0 20px;
    }

    .header{
        height: 130px;
    }

    .burger-menu{
        display: block;
    }

    .header-ul{
        display: none;
    }

    .welcome{
        height: 585px;
    }

    .section-title{
        font-size: 50px;
    }

    .welcome-block{
        top: 50px;
    }

    .welcome-block-subtitle{
        font-size: 24px;
    }

    .welcome-block-button{
        font-size: 20px;
        margin-top: 50px;
        padding: 0 45px;       
    }

    .welcome-slider{
        height: 585px;
        width: 700px;
    }

    .welcome-slider-container{
        height: 100%;
        width: 100%;
    }

    .welcome-slider-shadow img{
        height: 525px;
        width: 100%;
    }

    .welcome-item-container{
        height: 525px;
        width: 100%;
    }

    .welcome-item-container img{
        height: 100%;
        width: 100%;
    }

    .welcome-slider-pagination{
        width: 700px;
    }

    .welcome-slider-pagination{
        justify-content: end;
    }

    .slider-container{
        width: 401px;
        margin-right: 75px;
    }

    .slider-page-number{
        font-size: 20px;
    }

    .slider-squares{
        height: 12px;
        width: 160px;
    }

    .slider-square{
        height: 12px;
        width: 12px;
    }


    .light-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-title-dark {
        font-size: 50px;
        line-height: 75px;
    }

    .section-title-container {
        padding-bottom: 83px;
    }

    .container-cards {
        margin: 0 auto;
        width: 768px;
        gap: 60px 108px;
    }

    .visiting-card-image {
        height: 215px;
        width: 330px;
    }

    .visiting-card-title {
        font-size: 28px;
        letter-spacing: 3px;
    }

    .visiting-card-subtitle-one {
        font-size: 20px;
    }

    .visiting-card-subtitle-two {
        font-size: 16px;
    }

    .explore-container {
        flex-direction: column;
        padding-bottom: 60px;
    }

    .section-title{
        line-height: 75px;
    }

    .explore-info{
        width: 100%;
        padding-bottom: 62px;
    }

    .explore-subtitle{
        display: inline-block;
        padding-bottom: 0;
    }

    .explore-subtitle:last-child{
        display: none;
    }

    .explore-container img{
        margin: 0 auto;
    }

    .video-title-container{
        padding-bottom: 40px;
    }

    .video-subtitle{
        display: none;
    }

    .picture-inner-container{
        height: 2000px;
    }

    .picture-inner-container img{
        width: 304px;
    }

    .tickets-form-container img{
        height: 440px;
        width: 700px;
    }

    .tickets-form {
        padding-left: 80px;
        width: 175px;
        margin-right: 29px;
        justify-content: space-between;
    }

    .ticket-type{
        display: none;
    }

    .tickets-options {
        justify-content: end;
    }

    .ticket-amount{
        width: 100%;
    }

    .ticket-title {
        align-self: flex-start;
        font-size: 28px;
    }

    .amount-item-title {
        margin-bottom: 10px;
    }

    .ticket-form-amount-item {
        margin-bottom: 25px;
    }

    .total-amount {
        margin-top: 0;
    }

    .ticket-amount-title.sum{
        margin-left: 13px;
    }

    .tickets-container{
        padding-bottom: 60px;
    }    

    .contacts.light-section{
        padding-top: 0;
    }

    .contacts-title{
        margin-bottom: 83px;
    }

    .contacts-map img{
        height: 454px;
        width: 694px;
    }

    .contacts-address-title {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .contacts-address-subtitle {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer {
        padding-top: 60px;
    }

    .footer-logo {
        height: 33px;
        align-items: center;
        margin-right: 45px;
    }

    .footer-nav {
        margin-top: 5px;
    }

    .footer-ul {
        gap: 25px 100px;
    }

    .popUp {
        height: 768px;
        width: 1030px;
    }

    .welcome-pop-up-nav{
        width: 122px;
        height: 263px;
        color: #FFFFFF;
    }
    
    .welcome-pop-up-ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 35px;
        margin-left: 55px;
    }
    
    .welcome-pop-up-li{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 25px;
        font-family: "Roboto-Thin";
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 2px;
    }

    .welcome-pop-up-li:last-child{
        margin-bottom: 0;
    }
    
    .welcome-pop-up-li a{
        height: 100%;
        width: 100%;
        color: #FFFFFF;
        transition: 1s;
    }
    .welcome-pop-up-li a:hover{
        color: #9D8665;
    }
    .welcome-pop-up-li a:active{
        color: #7E6C51;
    }
    
}




@font-face {
    font-family: "Forum-Regular";
    src: url(assets/fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(assets/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(assets/fonts/Roboto-Medium.ttf);
}
